    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li p {
        display: block;
        color: black;
        text-align: center;
        padding: 0.5em 10em 0.5em 1em;
        margin: 0;
        text-decoration: none;
    }

    li a:hover {
        background-color: black;
        color:white;
    }

    .item1 { grid-area: header; }
    .item2 { grid-area: menu; }
    .main-content { 
        grid-area: main; 
        margin: 0 10em
    }

    .main-content p { 
        font-size: large;
    }
    
    .main-content ul { 
        font-size: large;
        list-style-type: none;
        display: grid;
    }

    .main-content li { 
        text-align: left;
        float: left;
        padding: 0.5em 0;
    }

    .item4 { grid-area: footer; }
    
    .grid-container {
      display: grid;
      grid-template-areas:
        'menu menu menu menu menu menu'
        'main main main main main main'
        'footer footer footer footer footer footer';
      gap: 1em;
      padding: 1em;
    }
    
    .grid-container > div {
      text-align: left;
      padding: 20px 0;
      font-size: 30px;
    }

    div {
        text-align: left;
    }

    .text {
        font-size: medium;
    }